{% extends "base.html" %}
{% block content %}
<form action="/hah" method="get" class="TradeFrame">
    {% csrf_token %}
    {{ tradeframe }}


    <label>目前已有的交易列表:</label><b></b>
    <ol>
    {% for tradeplan in object_list %}
    <li>
	{{ tradeplan.symbol_name }} |
        {{ tradeplan.trade_type }}  |
        {{ tradeplan.tradeplan.tradeframe }} |
        {{ tradeplan.tradeplan.begin_time }}
    </li>
    {% endfor %}
    <!-- <li id="next"> -->
        <!-- <button type="submit">Create</button> -->
    <!-- </li> -->
    </ol>

        <button id="create_plan" type="submit">创建交易计划</button>
</form>


{% endblock %}
