{% extends "base.html" %}
{% block content %}
<form action="" method="post" class="TradeFrame">
    {% csrf_token %}

    <label>目前已有的交易列表:</label><b></b>
    <ol>
    {% for tradeplan in object_list %}
    <li>
	{{ tradeplan.symbol_name }} |
        {{ tradeplan.trade_type }}  |
        {{ tradeplan.tradeplan.tradeframe }} |
        {{ tradeplan.tradeplan.begin_time }}
    </li>
    {% endfor %}
    <!-- <li id="next"> -->
        <!-- <button type="submit">Create</button> -->
    <!-- </li> -->
    </ol>
</form>
{% endblock %}
