{% load i18n %}

<!doctype html>
<html>
    <head>
        <title>{% block page_title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    </head>

    <body>
        <div id="container">
            <div id="header">
	            <div id="logo">
		            <h1>ForexSys</h1>
	            </div>
                <div id="topmenu">
                    {% if user.username %}
                    <p>
                        Welcome {{ user.username }} [ <a href="{% url accounts.views.logout %}">{% trans "sign out" %}</a> ]
                    </p>
                    <p>
                        <a href="/">Home</a> |
                        <a href="{% url accounts.views.profile %}">Profile</a>
                    </p>
                    {% else %}
                    <p>
                        <a href="{% url accounts.views.login %}">Sign In</a>
                    </p>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
            <!-- end #header -->
            <div id="menu">
            </div>
            <!-- end #menu -->
            <div id="main">
	            <div id="content">
                    {% block content %}{% endblock %}
	            </div>
            </div>
            <div id="footer-wrapper">
                <div id="footer">
                    <p>&copy; LINUXNOTE 2012</p>
                </div>
            </div>
        </div>
    </body>
</html>
